<%= form_for [:workflow, @article, @image], :html => {:multipart => true} do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :file %><br />
    <%= f.file_field :file %>
  </div>
  <div class="">
  <div class="field">
  	<%= f.label :published_online %><br />
  	<%= f.check_box :published_online %>
  </div>
  <div class="field">
  	<%= f.label :published_in_print %><br />
  	<%= f.check_box :published_in_print %>
  </div>
  <div class="field">
  	<%= f.label :caption %><br />
  	<%= f.text_area :caption %>
  </div>
  <div class="field">
  	<%= f.label :credit %><br />
  	<%= f.text_field :credit %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
