<% content_for :header do %>
  <h1>Publish article online</h1>
<% end %>

<%= form_for [:workflow, @article, @web_published_article] do |f| %>
  <% if @web_published_article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@web_published_article.errors.count, "error") %> prohibited this article from being published:</h2>

      <ul>
      <% @web_published_article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	  <%= f.label :title, "Title" %>
	  <%= collection_select :web_published_article, :title,
   	    @article.workflow.proposed_titles, :to_s, :to_s %>
	</div>
	<div class="field">
    <%= f.label :published_at %>
    <%= datetime_select :web_published_article, :published_at %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
