<section id="articles">
<% articles.each do |article| %>
<article class="article">
	<div class="top">
			<header>
				<h1><%= link_to article, workflow_article_path(article) %></h1>
			</header>

			<section class="article-stats">
			  <% if article.word_count %>
				  <span class="word-count"><%= article.word_count %> words</span>
				<% end %>
				<span class="authors">
				  <%= article.authors.any? ? article.authors.map(&:to_s).to_sentence : "nobody" %>
				</span>
			</section>
			<section class="article-messages">
			  <% if article.status_message and not article.status_message.blank? %>
  				<span class="status-message"><%= article.status_message %></span>
				<% end %>
        <% if article.locked? %>
				  <span class="lock-status"><%= article.locked_by %></span>
				<% end %>
			</section>
	</div>
	<section class="reviews">
	  <% ReviewSlot.all.each do |slot| %>
		  <article class="review <%= 'done' if article.has_review?(slot) %>">
  			<header><h1><%= slot %></h1></header>
  			<span class="review-user">
  			  <% if article.has_review?(slot) %>
  			    <%= article.review_for_slot(slot).author %>
  			  <% else %>
  			    nobody
  			  <% end %>
  			</span>
  		</article>
  	<% end %>
		<section class="publication-status <%= 'published' if article.published_online? %>">
			<span class="publication-status-web">
			  <%= article.published_online? ? 'Online' : 'No' %>
			</span>
			<% if article.published_online? %>
			  <span class="publication-date"><%= time_ago_in_words article.published_online_at %> ago</span>
			<% end %>
		</section>
	</section>
</article>
<% end %>
</section>