<header>
  <h1>Editing revision</h1>
  <div style="clear: both"></div>
</header>

<div id="content">
<%= form_for(@revision, :url => workflow_article_revision_path(@article, @revision)) do |f| %>
  <% if @revision.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@revision.errors.count, "error") %> prohibited this revision from being saved:</h2>

      <ul>
      <% @revision.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user.can_publish_article @article %>
    <div class="field">
  		<%= f.label :published_online %>
  		<%= f.check_box :published_online %>
  	</div>
  	<div class="field">
  		<%= f.label :published_online_at %>
  		<%= f.datetime_select :published_online_at %>
  	</div>
	
  	<div class="field">
  		<%= f.label :published_in_print %>
  		<%= f.check_box :published_in_print %>
  	</div>
  	<div class="field">
  		<%= f.label :published_in_print_at %>
  		<%= f.datetime_select :published_in_print_at %>
  	</div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>