<% content_for :header do %>
  <h1>Add review of article</h1>
<% end %>

<%= form_for [:workflow, @article, @review], :url => workflow_article_reviews_path(@article) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	  <%= f.label :review_review_slot_id, "Review slot" %>
	  <%= collection_select :review_conductor, :review_review_slot_id,
   	    current_user.open_review_slots_for_article(@article), :id, :to_s %>
	</div>
	<% if @review.needs_author? %>
  	<div class="field">
  	  <%= f.label :review_author_name, "Author" %>
  	  <%= f.text_field :review_author_name %>
    </div>
  <% end %>
  <div class="field wide-field">
		<%= f.label :review_comment, "Comment" %> (optional)<br />
		<%= f.text_area :review_comment %>
   </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
