<% content_for :header do %>
  <h1>Login</h1>
<% end %>

<% content_for :side do %>
  &nbsp;
<% end %>

<%= form_for :user, :url => user_session_path do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  
  <div class="actions">
    <%= f.submit "Login" %>
  </div>
<% end %>