<section id="aColumn" class="section">
  <header>
    <h1><%= @subsection or @section %></h1>
  </header>  
  	<% if (defined? @page) == nil) %>
  		<% @page = 0 &>
  	<% end %>
	<% @articles.values_at((@page*20)..(@page*20+20)).each do |article| %>
		<article class="teaser">
			<% if article.images.any? %>
				<div class="thumbnail">
					<%= link_to(
						image_tag(
							article.images.first.file.url(:thumb),
							:width => 75,
							:height => 75), 
					    article_path(article)) %>
				</div>
			<% end %>
			<header>
				<h1><%= link_to article, article_path(article) %></h1>
				<span class="byline">
					By
					<%= article.authors.map{|a|
						content_tag :span, a, :class=>'author'
					}.to_sentence.html_safe %>
					<span class="timestamp">
						<%= article.published_at %>
					</span>
				</span>
			</header>
			<p class="summary"><%= article.teaser %></p>
		</article>
	<% end %>
	<% if @page > @articles.size %>
		<%= link_to "Next Page", section_path(@page + 47)%>
	<% end %>
</section>
<%= render "articles/most_popular_and_facebook" %>
