<p id="notice"><%= notice %></p>

<p>Article working name: <%= @article.working_name %></p>
<p>Section: <%= @article.section %></p>
<p>Status: <%= @article.status_message %></p>
<p>Current workflow status: <%= @article.workflow_status %></p>
<p>Authors:</p>
<ul>
	< @article.authors.each do |author| %>
		<li><= author.auth_user.username %></li>
	< end %>
</ul>

<ul>
	{% for change_view in history %}
		{{ change_view }}
	{% endfor %}
</ul>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>