<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>TSL - Workflow</title>
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag '/wmd/showdown.js' %>
	<%= stylesheet_link_tag '/wmd/wmd.css' %>
	<%= csrf_meta_tag %>

	<style type="text/css">
		body {
			margin: 0;
			padding: 0;
			font-family: 'Lucida Grande', Arial, sans-serif;
			font-size: 12px;
			background-color: #5A9ECF;
			min-width: 950px;
			padding-bottom: 27px;
		}
		body > header {
			color: white;
			font-size: 12px;
		}
		body > header h1 {
			font-weight: normal;
			font-size: 24px;
			float: left;
			display: block;
			margin-left: 21px;
		}
		body > header a,
		body > header a:active,
		body > header a:hover,
		body > header a:visited {
			color: white;
		}
		body > header h1 a {
			text-decoration: none;
		}
		body > header h1 strong {
			text-transform: uppercase;
			display: block;
			font-weight: bold;
			font-size: 12px;
			color: #069;
		}
		body > header span#user-info {
			display: block;
			float: right;
			padding: 10px;
		}
		body > header a#help {
			background-color: #D70;
			padding: 2px;
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			-o-border-radius: 2px;
			border-radius: 2px;
		}
		body > header nav {
			clear: both;
			background-color: #069;
			margin-bottom: 0;
			padding-bottom: 0;
		}
		body > header nav ul {
			list-style: none;
			margin-left: 0;
			padding-left: 21px;
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: 3px solid white;
		}
		body > header nav li {
			display: inline-block;
			font-weight: bold;
			margin: 0;
			padding: 0;
		}
		body > header nav li.selected {
			background-color: white;
			border-bottom: 3px;
			margin-bottom: -3px;
		}
		body > header nav a {
			display: block;
			line-height: 32px;
			padding-left: 20px;
			padding-right: 20px;
		}
		body > header nav a:hover {
			background-color: #07b;
		}
		body > header nav li.selected a:hover {
			background-color: white;
		}
		body > header nav li.selected a {
			color: #5fa82c;
		}
		body > header nav a {
			text-decoration: none;
		}
		
		#main {
			background-color: white;
			width: 70%;
			margin: 9px 0 0 21px;
			float: left;
			
			-moz-box-shadow: 1px 1px 2px #555;
			-webkit-box-shadow: 1px 1px 2px #555;
			box-shadow: 1px 1px 2px #555;
			
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			-o-border-radius: 5px;
			border-radius: 5px;
		}
		#main > header {
			background-color: #f2f2f2;
			display: block;
			border-bottom: solid 2px #e6e6e6;
			padding: 9px;
			
			-webkit-border-radius: 5px 5px 0 0;
			-moz-border-radius: 5px 5px 0 0;
			-o-border-radius: 5px 5px 0 0;
			border-radius: 5px 5px 0 0;
		}
		.flash + header {
			-webkit-border-radius: 0 !important;
			-moz-border-radius: 0 !important;
			-o-border-radius: 0 !important;
			border-radius: 0 !important;
		}
		#main > header h1 {
			margin: 0;
			font-size: 28px;
			font-family: Helvetica, sans-serif;
			color: #333;
			display: block;
			float: left;
		}
		#main > header .actions {
			display: block;
			float: right;
		}
		#main #content {
			padding: 9px;
		}
		#main article h1, #main article h1 a {
			font-size: 18px;
			color: #007aaa;
			text-decoration: none;
			margin-top: 0;
		}
		#main article h1 a:hover {
			text-decoration: underline;
		}
		.tag {
			font-variant: small-caps;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 16px;
			color: #555;
		}
		.status_message {
			color: #444;
			font-size: 13px;
			background-color: #f7e20d;
			padding: 3px;
			
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			-o-border-radius: 2px;
			border-radius: 2px;
		}
		
		q {
			color: white;
			quotes: none;
			font-size: 13px;
			background-color: #5fa82c;
			padding: 3px;
			
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			-o-border-radius: 2px;
			border-radius: 2px;
		}
		q:before { content: ""; }
		q:after { content: "";}
		
		#main article {
			border-bottom: 1px solid #EEE;
			padding-top: 1em;
		}
		#main article .left {
			float: left;
			width: 10%;
		}
		#main article .mid {
			float: left;
			width: 60%;
		}
		#main article .right {
			float: right;
			width: 20%;
		}
		#main h2 {
			font-size: 14px;
			color: #333;
		}
		#main .workflow-item {
			border-bottom: 1px solid #DDD;
		}
		#main .workflow-item header h1 {
			font-size: 13px; font-weight: bold;
		}
		#main .workflow-item header .date {
			color: #888;
			display: block;
			font-weight: normal;
		}
		#main .workflow-item .left {
			width: 30%;
		}
		#main .workflow-item .mid {
			width: 60%;
		}
		#main .workflow-item .right {
			width: 7%;
			text-align: right;
		}
		.change {
			background-color: #eee;
			padding: 2px;
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			-o-border-radius: 2px;
			border-radius: 2px;
		}
		#main form label {
			float: left;
			width: 20%;
			text-align: right;
			margin-right: 1em;
			font-weight: bold;
		}
		#main form input {
		}
		#main form .field {
			clear: both;
			margin-bottom: 1em;
		}
		#main form .actions {
			margin-left: 20%;
		}
		#main form .wide-field label {
			text-align: left;
			width: 100%;
		}
		#main form .wide-field input {
			width: 80%;
		}
		#main ul {
			margin-left: 0;
			padding-left: 0em;
			list-style: none;
		}
		
		ins {
			text-decoration: none;
			background-color: #ccffcc;
		}
		del {
			color: #bbb;
		}
		
		#side {
			position: relative;
			margin: 9px 15px 0 73%;
			font-size: 13px;
			padding: 9px;
			
			color: #c4d67a;
		}
		#side ul {
			margin-left: 0;
			padding-left: 0em;
			list-style: none;
		}
		.timestamp {
			color: #681817;
		}
		.flash {
			background-color: #F2F2F2;
			-webkit-border-radius: 5px 5px 0 0;
			-moz-border-radius: 5px 5px 0 0;
			-o-border-radius: 5px 5px 0 0;
			border-radius: 5px 5px 0 0;
			padding: 9px;
		}
		.flash_warning p, .flash_error p {
			background-color: red;
		}
		.flash_notice p {
			background-color: #5fa82c;
		}
		.flash p {
			margin: 0;
			color: white;
			padding: 2px;
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			-o-border-radius: 2px;
			border-radius: 2px;
			display: inline-block;
		}
	</style>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-20212552-2']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>
	
	<header>
		<h1>
			<strong>Workflow</strong>
			<%= link_to "The Student Life", workflow_path %>
		</h1>
		<% if current_user %>
			<span id="user-info">
				Logged in as <%= current_user %>.
				<%= link_to "My account", edit_workflow_user_path(current_user) %> |
				<%= link_to "Log out", workflow_logout_path %>
				<a href="/workflow/help" id="help">Help</a>
			</span>
		<nav>
			<ul>
				<%= li_tag link_to("Home", workflow_path),
    				:class => ("selected" if request.fullpath == workflow_path) %>
				<%= li_tag link_to("Articles", workflow_issues_path),
    				:class => (is_selected?('articles') or is_selected?('issues')) %>
				<%= li_tag_if current_user.can_edit_headlines?,
    				link_to("Front Page", workflow_headlines_path),
    				:class => is_selected?('headlines') %>
				<%= li_tag_if current_user.can_edit_sections?,
    				link_to("Sections", workflow_sections_path),
    				:class => is_selected?('sections') %>
				<%= li_tag_if current_user.can_edit_users?,
    				link_to("Users", workflow_users_path),
    				:class => is_selected?('users') %>
				<%= li_tag_if current_user.can_edit_authors?,
    				link_to("Authors", workflow_authors_path),
    				:class => is_selected?('authors') %>
			</ul>
		</nav>
		<% end %>
	</header>
	
	<section id="main">
		<% flash.each do |k, v| %>
			<div class="flash flash_<%= k %>">
				<p><strong><%= k.to_s.capitalize %>:</strong> <%= v %></p>
			</div>
		<% end %>
		<% if content_for? :header %>
    		<header>
        		<%= yield :header %>
        		<div style="clear: both;"></div>
    		</header>
    		<div id="content">
        		<%= yield %>
    		</div>
		<% else %>
    		<%= yield %>
    	<% end %>
	</section>
	<section id="side">
		<%= yield :side %>
	</section>
	<div style="clear: both"></div>

</body>
</html>
