<header>
  <h1>Editing user</h1>
  <div style="clear: both"></div>
</header>

<div id="content">
<%= form_for [:workflow, @user] do |f| %>
  <% if @user.errors.any? or @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count + @user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>
	<% if current_user.is_admin %>
  	<div class="field">
  		<%= f.label :is_admin %>
  		<%= f.check_box :is_admin %>
  	</div>
	<% end %>
	<% if current_user.can_edit_users %>
	  <div class="field">
  	  <%= label_tag :author_id, "Associated author" %>
  	  <%= select_tag :author_id,
  	    options_from_collection_for_select(@authors, :id, :to_s, @user.author ? @user.author.id : nil),
  	    :include_blank => "(none)" %>
  	</div>
	<% end %>
	<% if current_user == @user %>
	  <div class="field">
	    <%= label_tag :password %>
	    <%= password_field_tag :password %>
    </div>
    <div class="field">
	    <%= label_tag :password_confirmation %>
	    <%= password_field_tag :password_confirmation %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<p>
<%= link_to 'Back', current_user.can_edit_users ? workflow_users_path : workflow_path %>
</p>
</div>