<header>
  <h1>Editing user</h1>
  <div style="clear: both"></div>
</header>

<div id="content">
<%= form_for(
  [:workflow, @staff_member],
  :url => workflow_user_path(@staff_member),
  :as => :user) do |f| %>
  <% if @staff_member.errors.any? or @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@staff_member.errors.count + @user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @staff_member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>
	<% if current_staff_member.can_edit_users %>
  	<div class="field">
  		<%= f.label :is_admin %>
  		<%= f.check_box :is_admin %>
  	</div>
	<% end %>
	<% if current_staff_member == @staff_member %>
	  <div class="field">
	    <%= label_tag :password %>
	    <%= password_field_tag :password %>
    </div>
    <div class="field">
	    <%= label_tag :password_confirmation %>
	    <%= password_field_tag :password_confirmation %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<p>
<%= link_to 'Back', current_staff_member.can_edit_users ? workflow_users_path : workflow_path %>
</p>
</div>