<header>
  <h1>Users</h1>
  
  <span class="actions">
    <%= link_to 'New user', new_workflow_user_path %>
  </span>
  <div style="clear: both;"></div>
</header>

<div id="content">
<% @users.each do |user| %>
  <article>
    <div class="left">
      <p style="margin-top: 0; text-align: center; line-height:18px; padding-top: 3px; font-weight: bold; text-transform: uppercase; letter-spacing: 0px">
      <% if user.is_admin %>
        Admin
      <% elsif not user.sections.empty? %>
        Editor: <%= user.sections.map(&:to_s).join(", ") %>
      <% end %>
      </p>
    </div>
    <div class="mid">
  	  <header>
  	    <h1><%= user %></h1>
  	    <% if user.author %>
  	      <%= user.author %>
  	    <% end %>
  	  </header>
  	</div>
  	<div class="right">
      <%= link_to 'Edit', edit_workflow_user_path(user) %>
      <% if current_user.can_edit_users and current_user != user %>
        | <%= link_to "Reset password", reset_workflow_user_path(user), :method => :post, :confirm => "Are you sure?" %>
      <% end %>
    </div>
    <div style="clear: both;"></div>
  </article>
<% end %>
</div>
