<h1>Listing workflow_comments</h1>

<table>
  <tr>
	<th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @workflow_comments.each do |workflow_comment| %>
  <tr>
	<td><%= workflow_comment %></td>
	<td><%= workflow_comment.created_at.to_s (:pretty) %></td>
    <td><%= link_to 'Show', workflow_comment %></td>
    <td><%= link_to 'Edit', edit_workflow_comment_path(workflow_comment) %></td>
    <td><%= link_to 'Destroy', workflow_comment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Workflow comment', new_workflow_comment_path %>
