<h1>New revision</h1>

<%= form_for(@revision, :url => revisions_path(@article)) do |f| %>
  <% if @revision.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@revision.errors.count, "error") %> prohibited this revision from being saved:</h2>

      <ul>
      <% @revision.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
		<%= f.label :title %><br />
		<%= f.text_field :title, :style => "width: 660px;" %>
	</div>
	<div class="field">
		<%= f.label :body, :style => "display: block;" %>
		<div id="wmd-button-bar" style="width: 660px"></div>
		<%= text_area_tag "wmd-input" %>
		<div id="wmd-preview"></div>
	</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

  <script type="text/javascript" src="/wmd/wmd.js"></script>
