<header>
  <h1>Post revision</h1>
  <div style="clear: both"></div>
</header>

<div id="content">
  
  <h2 style="font-size: 24px">Instructions</h2>
  
  <p>To make <strong>paragraphs</strong>, press <strong>ENTER</strong> once after the paragraph. Before, you had to press ENTER twice; now, only press it <strong>once</strong>.</p>
  
  <p><strong>If you're having problems (weird sizes, weird fonts, error popups), copy the entire article, paste it into TextEdit (for Macs) or Notepad (for Windows), then copy it back onto Workflow. If you're using TextEdit, make sure to convert it into plain text first (Format->Make Plain Text)! This will typically solve most problems</strong></p>
  
  <p><strong>As always, please do not use Internet Explorer</strong></p>
  
<%= form_for [:workflow, @article, @revision] do |f| %>
  <% if @revision.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@revision.errors.count, "error") %> prohibited this revision from being saved:</h2>

      <ul>
      <% @revision.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--<div class="field wide-field">
		<#%= f.label :title %><br />
		<#%= f.text_field :title %>
	</div>-->
	<div class="field wide-field">
		<%= f.text_area :body %>
	</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>

<%= stylesheet_link_tag 'jquery.wysiwyg' %>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<%= javascript_include_tag 'jquery.wysiwyg' %>
<script type="text/javascript">
  $(function() {
    $("#revision_body").wysiwyg({
      autoSave: true,
      minHeight: 500
    });
    $(".wysiwyg")[0].style.width = "100%";
    $(".wysiwyg iframe")[0].style.width = "100%";
    $(".wysiwyg iframe")[0].style["min-height"] = "500px";
  });
</script>