<header>
  <h1>New article</h1>
  <div style="clear: both"></div>
</header>

<div id="content">
<%= form_for [:workflow, @issue, @article] do |f| %>
	<% if @article.errors.any? %>
		<div id="errorExplanation">
			<h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>
			<ul>
				<% @article.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :working_name %>
		<%= f.text_field :working_name %>
	</div>
	<div class="field">
		<%= f.label :workflow_status %>
		<%= collection_select :article, :workflow_status_id, @workflow_statuses, :id, :name %>
	</div>
	<div class="field">
		<%= f.label :section %>
		<%= collection_select :article, :section_id, @sections, :id, :name %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>

<%= link_to 'Back', workflow_issue_path(@issue) %>
</div>