<header>
  <div class="left">
    <h1>
      <%= revision.author %>
      <span class="date">
        <%= time_ago_in_words revision.created_at %> ago
      </span>
    </h1>
  </div>
</header>

<div class="mid">
  <p style="font-size: 12px; font-weight: bold; margin-top: 9px; color: #333">Revision id.<%= revision.id %>  <span style="font-size: 12px; color: #666; font-weight: normal">&mdash; <%= revision.word_count %> words</span></p>
  <div class="revision" style="font-size: 12px;"><%= revision.diff.html_safe %></div>

</div>