<header>
  <h1 class="left">
    <%= workflow_update.author %>
    <span class="date">
      <%= time_ago_in_words workflow_update.created_at %> ago
    </span>
  </h1>
</header>
<div class="mid">
  <ul style="font-size: 12px; margin-left: -1.5em; padding-left: 0; list-style: none; font-weight: bold; color: #333">
    <% workflow_update.updates.each do |property, value| %>
      <li style="margin-bottom: 6px;">
        →
      <% if value.class == Array %>
        <%= property %> changed from <span class="change">“<%= value[0] %>”</span> to <span class="change">“<%= value[1] %>”</span>
      <% else %>
        <span class="change">“<%= property %>”</span> <%= value %>
      <% end %>
      </li>
    <% end %>
  </ul>
</div>