<% content_for :header do %>
  <h1>
    <%= @article %>
  </h1>
  
  <span class="actions">
    <% if not @article.front_page_article and @article.published_online? and current_user.can_edit_front_page? %>
      <%= link_to "Add to front page", new_workflow_article_front_page_path(@article) %> |
    <% end %>
    <%= link_to 'Edit', edit_workflow_article_path(@article), :class => :button %>
    <%= link_to 'Post revision', new_workflow_article_revision_path(@article), :class => "positive button" %>
    <%= link_to 'Post comment', new_workflow_article_comment_path(@article), :class => "positive button" %>
  </span>
  <div style="clear: both;"></div>
  <span style="color: #5F87A5;"><%= time_ago_in_words(@article.created_at) %> ago</span>
  <p style="margin-bottom: 0;"><strong>Status message:</strong>
  <% if @article.status_message and not @article.status_message.empty? %>
    <%= @article.status_message %>
  <% else %>
    None
  <% end %>
  </p>
<% end # content_for :header %>
  
<% content_for :side do %>
  <header>
    <p style="margin-bottom: 0; color: #c4d67a">Section</p>
    <p style="margin-top: 0; font-weight: bold; font-size: 18px; color: white"><%= @article.full_section_name %></p>
  </header>
  
  <div class="content">
  <p>
    Reviews
    <%= link_to "Add review", new_workflow_article_review_path(@article) if current_user.can_add_review?(@article) %>
  </p>
  <ul>
    <% @article.reviews.each do |review| %>
		<li style="margin-bottom: 0.5em; margin-left: 0.5em">
		  <span style="color: white"><%= review.author %></span>
      <br/>
      <span style="padding-left: 1em; color:#ddd; font-size: 0.9em"><%= review.comment %></span>
		</li>
    <% end %>
  </ul>
  <p>
    Proposed Titles
    <%= link_to "Add title", new_workflow_article_title_path(@article) %>
  </p>
  <ul>
  	<% @article.titles.each do |title| %>
  		<li style="margin-bottom: 0.5em; margin-left: 0.5em">
  		  <span style="color: white"><%= title %></span>
		    <%= link_to 'Remove',
	        workflow_article_title_path(@article, title),
	        :confirm => 'Are you sure?',
	        :method => :delete %>
	      <br/>
	      <span style="padding-left: 1em; color:#ddd; font-size: 0.9em">– <%= title.author %></span>
  		</li>
  	<% end %> 
  </ul>
  <p>
    Authors
    <%= link_to "Add author", new_workflow_article_author_path(@article) %>
  </p>
  <ul>
  	<% @article.authors.each do |author| %>
  		<li style="margin-bottom: 0.5em; margin-left: 0.5em">
  		  <span style="color: white"><%= author %></span>
		    <%= link_to 'Remove',
	        workflow_article_author_path(@article, author),
	        :confirm => 'Are you sure?',
	        :method => :delete %>
  		</li>
  	<% end %>
  </ul>
  <p>
    Image
    <% if @article.images.empty? %>
      <%= link_to "Upload image", new_workflow_article_image_path(@article) %>
    <% end %>
  </p>
  <ul style="display: block; float: left; width: 100%">
    <% @article.images.each do |image| %>
      <li style="margin-left: 0.5em; display: block; width: 100%; margin-bottom: 2em; padding-bottom: 1em; /*border-bottom: 1px #fff solid*/">
        <div style="float: right">  
          <%= image_tag(
            image.file.url(:thumb),
            :style => "border: 1px white solid; margin-left: 1em; margin-right: 1em") %>
        </div>
        <div>
          <p style="margin-top: 0; margin-bottom: 0;">Credit</p>
          <p style="margin-top: 0; color: white"><%= image.credit %></p>
          <p style="margin-top: 0; margin-bottom: 0;">Caption</p>
          <p style="margin-top: 0; color: white"><%= image.caption %></p>
          <p style="margin-top: 0; margin-bottom: 0">
            <%= link_to "Edit", edit_workflow_article_image_path(@article, image) %>
            <%= link_to "Remove", workflow_article_image_path(@article, image),
              :confirm => "Are you sure you want to remove this image?", :method => :delete %>
          </p>
        </div>
        <div style="clear: both;"></div>
      </li>
    <% end %>
  </ul>
  </div>
<% end # content_for :side%>

<h2>History for this article</h2>
<%= render_collection_in_same_controller @article.workflow_history, :layout => "item" %>

<%= link_to 'Back', workflow_issue_path(@article.issue) %>