<% content_for :header do %>
  <h1>Users</h1>
  
  <span class="actions">
    <%= link_to 'New user', new_workflow_user_path, :class => :button %>
  </span>
  <div style="clear: both;"></div>
<% end %>

<% @users.each do |user| %>
  <article style="padding-bottom: 4px">
    <div class="left">
      <p style="margin-top: 0; text-align: center; line-height:18px; padding-top: 3px; font-weight: bold; text-transform: uppercase; letter-spacing: 0px">
      <% if user.is_admin %>
        Admin
      <% end %>
      </p>
    </div>
    <div class="mid">
  	  <header>
  	    <h1 style="display: inline"><%= user %></h1>
  	    <% if user.author %>
  	      <span class="change"><%= user.author %></span>
  	    <% end %>
  	  </header>
  	</div>
  	<div class="right">
      <%= link_to 'Edit', edit_workflow_user_path(user) %>
      <%= link_to_if (current_user.can_edit_users? and current_user != user),
          "Reset password",
          reset_workflow_user_path(user),
          :method => :post,
          :confirm => "Are you sure?" %>
    </div>
    <div style="clear: both;"></div>
  </article>
<% end %>