<h1>Listing workflow_statuses</h1>

<table>
  <tr>
	<th>Status</th>
	<th>Priority</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @workflow_statuses.each do |workflow_status| %>
  <tr>
	<td><%= workflow_status %></td>
	<td><%= workflow_status.priority %></td>
    <td><%= link_to 'Show', workflow_status %></td>
    <td><%= link_to 'Edit', edit_workflow_status_path(workflow_status) %></td>
    <td><%= link_to 'Destroy', workflow_status, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Workflow status', new_workflow_status_path %>
