<section class="form">
  <header>
    <h1><%= @form.name %></h1>
  </header>  
	<%= form_for @form do |f| %>
	  <% @form.definition.each do |field| %>
	    <div class="field <%= field['type'] %>">
  	    <%= f.label field['key'], field['label'] %>
  	    <% case field['type'] %>
  	    <% when 'text' %>
    	    <%= text_field field['key'], '' %>
    	  <% when 'textarea' %>
    	    <%= text_area field['key'], '' %>
    	  <% else %>
    	      Unsupported field type <%= field['type'] %>
  	    <% end %>
	    </div>
	  <% end %>
	  
	  <%= f.submit 'Submit' %>
	<% end %>
</section>