<header>
  <h1>Front Page</h1>
  <div style="clear: both;"></div>
</header>

<div id="content">
  <% @headlines.each do |headline| %>
    <article class="headline">
      <div class="left">
        <p style="margin-top: 0; text-align: center; line-height:18px; padding-top: 8px; font-weight: bold; text-transform: uppercase; letter-spacing: 0px">P<%= headline.priority %></p>
      </div>
      <div class="mid">
        <header>
          <h1 style="line-height: 1em; margin: 0; display: inline;">
            <%= link_to headline.article.latest_published_revision.title, workflow_article_path(headline.article) %>
          </h1>
          <span style="color: #666; margin-top: 0;">
            <q>Published <%= time_ago_in_words(headline.article.latest_published_revision.published_online_at) %> ago</q>
          </span>
        </header>
        <p style="color: #555"><%= headline.article.summary %></p>
      </div>
      <div class="right">
        <p style="font-size: 14px; margin-top:0; padding-top: 8px;"><strong>Section:</strong> <%= headline.article.full_section_name %></p>
        <p><%= link_to 'Edit', edit_workflow_headline_path(headline) %>
        <%= link_to 'Destroy', workflow_headline_path(headline), :confirm => 'Are you sure?', :method => :delete %></p>
      </div>
      <div style="clear: both;"></div>
    </article> 
  <% end %>
</div>