<% content_for :header do %>
  <h1>Editing article</h1>
  <span class="actions">
    <%= link_to "Delete this article forever", workflow_article_path(@article), :method => :delete, :confirm => 'Are you sure you want to delete this article? It can never be recovered!' %>
  </span>
<% end %>

<%= form_for(@article, :url => workflow_article_path(@article)) do |f| %>
	<% if @article.errors.any? %>
		<div id="errorExplanation">
			<h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>
			<ul>
				<% @article.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
	<div class="field">
		<%= f.label :status_message %>
		<%= f.text_field :status_message %>
	</div>
	<div class="field">
	  <%= f.label :subsection %>
	  <%= collection_select :article, :subsection_id, @subsections, :id, :full_name, :include_blank => "(none)" %>
  </div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>

<%= link_to 'Back', workflow_article_path(@article) %>