<h1>Listing articles</h1>

<table>
  <tr style="text-align: left;">
	<th>Working Name</th>
	<th>Workflow</th>
	<th>Status</th>
	<th>Section</th>
	<th>Creation Date</th>
	<th>Authors</th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
	<td><%= article.working_name %></td>
	<td><%= article.workflow_status %></td>
	<td><%= article.status_message %></td>
	<td><%= article.section %></td>
	<td><%= article.created_at %></td>
	<td><%= article.authors.map(&:to_s).join(", ") %></td>
    <td><%= link_to 'Show', workflow_article_path(article) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Article', new_workflow_article_path %>
