<p id="notice"><%= notice %></p>

<p>Article working name: <%= @article.working_name %></p>
<p>Section: <%= @article.section %></p>
<p>Subsection: <%= @article.subsection or "None" %></p>
<p>Status: <%= @article.status_message %></p>
<p>Current workflow status: <%= @article.workflow_status %></p>

<p>
  <% if @editable %>
    <%= link_to 'Edit', edit_workflow_article_path(@article) %> |
  <% end %>
  <% if @postable %>
    <%= link_to 'Post revision', new_workflow_article_revision_path (@article) %> |
    <%= link_to 'Post comment', new_workflow_article_comment_path (@article) %>
  <% end %>
</p>

<p>Authors:</p>
<ul>
	<% @article.authors.each do |author| %>
		<li>
		  <%= author %>
		  <% if @editable %>
  		  <% form_tag (workflow_article_author_path(@article, author), :method => :delete) do %>
  		    <%= hidden_field_tag :author_id, author.id%>
  		    <%= submit_tag ("Remove") %>
  		  <% end %>
  		<% end %>
		</li>
	<% end %>
</ul>
<% if @editable %>
  <%= link_to "Add author", new_workflow_article_author_path (@article) %>
<% end %>

<p>History:</p>
<ol style="list-style-type: none; margin-left: 0; padding-left: 0;">
  <% @workflow_history_views.each do |view| %>
    <li style="border-bottom: 1px solid #DDD; padding: 9px;"><%= view %></li>
  <% end %>
</ol>

<%= link_to 'Back', workflow_articles_path %>