<% content_for :header do %>
  <div style="float: left">
    <h1 style="float: none">
      <%= @article %>
    </h1>
    <span style="color: #5F87A5;"><%= time_ago_in_words(@article.created_at) %> ago</span>
    <% if @article.word_count %>
      <p style="margin-bottom: 0;"><strong><%= @article.word_count %> words</strong></p>
    <% end %>
  </div>
  
  <span class="actions">
    <p>
      <%= link_to 'Back to issue', workflow_issue_path(@article.issue) %>
      <% if not @article.front_page_article and @article.published_online? and current_user.can_edit_front_page? %>
        | <%= link_to "Add to front page", new_workflow_article_front_page_path(@article) %>
      <% end %>
      <%= link_to 'Article settings', edit_workflow_article_path(@article), :class => :button %>
      <%= link_to(
        (@article.revisions.any? ? 'Edit latest revision' : 'Post original revision'),
        new_workflow_article_revision_path(@article),
        :class => "positive button"
      ) %>
      <%= link_to 'Post comment', new_workflow_article_comment_path(@article), :class => "positive button" %>
    </p>
    <p>
      <strong>Locked by:</strong>
      <% if @article.locked? %>
        <q><%= @article.locked_by %></q>
        (<%= link_to 'Unlock', unlock_workflow_article_path(@article),
          :style => 'display: inline-block; line-height: 2em',
          :method => 'delete' %>)
      <% else %>
        nobody
        (<%= link_to 'Lock', lock_workflow_article_path(@article),
          :style => 'display: inline-block; line-height: 2em',
          :method => 'put' %>)
      <% end %>
    </p>
    <div id="status_message_show">
      <p>
        <strong>Status:</strong>
        <% if @article.status_message and not @article.status_message.empty? %>
          <span class="status_message"><%= @article.status_message %></span>
        <% else %>
          None
        <% end %>
        <span style="font-size: 0.9em;">
        (<%= link_to "Change", edit_workflow_article_path(@article), :id => 'status_message_edit_button', :style => 'display: inline-block; line-height: 2em' %>)
        </span>
      </p>
    </div>
    <div id="status_message_edit" style="display: none">
      <%= form_for [:workflow, @article],
          :html => {:style => 'display: inline'} do |f| %>
      		<%= f.label :status_message, "Status:", :style => 'float:none' %>
      		<%= f.text_field :status_message %>
      		<%= f.submit %>
      <% end %>
    </div>
  </span>
<% end # content_for :header %>
  
<% content_for :side do %>
  <header>
    <p style="margin-bottom: 0; color: #c4d67a">Section</p>
    <p style="margin-top: 0; font-weight: bold; font-size: 18px; color: white"><%= @article.full_section_name %></p>
  </header>
  
  <div class="content">
  <p>
    Reviews
    <%= link_to "Add review", new_workflow_article_review_path(@article) if current_user.can_add_review?(@article) %>
  </p>
  <ul>
    <% @article.reviews.each do |review| %>
		<li style="margin-bottom: 0.5em; margin-left: 0.5em">
		  <span style="color: white"><span style="font-weight: bold"><%= review.review_slot %>:</span> <br/> <%= review.author %></span>
      <br/>
      <span style="padding-left: 1em; color:#ddd; font-size: 0.9em"><%= review.comment %></span>
		</li>
    <% end %>
  </ul>
  <p>
    Proposed Titles
    <%= link_to "Add title", new_workflow_article_title_path(@article) %>
  </p>
  <ul>
  	<% @article.titles.each do |title| %>
  		<li style="margin-bottom: 0.5em; margin-left: 0.5em">
  		  <span style="color: white"><%= title %></span>
		    <%#= <%= link_to 'Remove',
	        workflow_article_title_path(@article, title),
	        :confirm => 'Are you sure?',
	        :method => :delete %>
	      <br/>
  		</li>
  	<% end %> 
  </ul>
  <p>
    Authors
    <%= link_to "Add author", new_workflow_article_author_path(@article) %>
  </p>
  <ul>
  	<% @article.authors.each do |author| %>
  		<li style="margin-bottom: 0.5em; margin-left: 0.5em">
  		  <span style="color: white"><%= author %></span>
		    <%= link_to 'Remove',
	        workflow_article_author_path(@article, author),
	        :confirm => 'Are you sure?',
	        :method => :delete %>
  		</li>
  	<% end %>
  </ul>
  <p>
    Image
    <% if @article.images.empty? %>
      <%= link_to "Upload image", new_workflow_article_image_path(@article) %>
    <% end %>
  </p>
  <ul style="display: block; float: left; width: 100%">
    <% @article.images.each do |image| %>
      <li style="margin-left: 0.5em; display: block; width: 100%; margin-bottom: 2em; padding-bottom: 1em; /*border-bottom: 1px #fff solid*/">
        <div style="float: right">  
          <%= image_tag(
            image.file.url(:thumb),
            :style => "border: 1px white solid; margin-left: 1em; margin-right: 1em") %>
        </div>
        <div>
          <p style="margin-top: 0; margin-bottom: 0;">Credit</p>
          <p style="margin-top: 0; color: white"><%= image.credit %></p>
          <p style="margin-top: 0; margin-bottom: 0;">Caption</p>
          <p style="margin-top: 0; color: white"><%= image.caption %></p>
          <p style="margin-top: 0; margin-bottom: 0">
            <%= link_to "Edit", edit_workflow_article_image_path(@article, image) %>
            <%= link_to "Remove", workflow_article_image_path(@article, image),
              :confirm => "Are you sure you want to remove this image?", :method => :delete %>
          </p>
        </div>
        <div style="clear: both;"></div>
      </li>
    <% end %>
  </ul>
  </div>
<% end # content_for :side%>

<article class="workflow-item" style="border-bottom: 2px solid">
<div class="left">
  <h2>Publication status</h2>
</div>

<div style="float: left;">
<h2 style="display: inline">Online:</h2>
<% if current_user.can_publish_article? @article %>
  <% if not @article.published_online? %>
    <%= link_to('Publish online', new_workflow_article_web_published_article_path(@article),
      :class => 'button positive') %>
  <% end %>
<% end %>
<% if @article.published_online? %>
  <% @article.web_published_article.tap do |web| %>
    <% if current_user.can_publish_article? @article %>
      <%= link_to "Unpublish", workflow_article_web_published_article_path(@article, web),
        :method => :delete, :confirm => "Are you sure you?",
        :class => 'button destructive' %>
    <% end %>
  
    <article style="border-bottom: 1px solid #999">
      <p><q><%= web.published_at %></q></p>
      <p><strong>Title:</strong> <%= web.title %></p>
    </article>
  <% end %>
<% else %>
  <p>Not published</p>
<% end %>
</div>

<div style="clear: both"></div>
</article>

<h2>History for this article</h2>
<%= render_collection_in_same_controller @article.workflow_history, :layout => "item" %>

<%= link_to 'Back', workflow_issue_path(@article.issue) %>

<script type="text/javascript">
  document.observe ('dom:loaded', function (){
    var button = $("status_message_edit_button");
    button.writeAttribute("href", "javascript:void(0)");
    button.observe('click', function() {
      $("status_message_show").hide();
      $("status_message_edit").show();
    })
  })
</script>