<!DOCTYPE html>
<html>
<head>
  <title>TslRails</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<p>
	<% if current_user %>
		Currently logged in as <em><%= current_user.username %></em>. <a href="/users/logout">Log out</a>.
	<% else %>
		Not logged in. <a href="/users/login">Log in</a>.
	<% end %>
</p>

<%= yield %>

</body>
</html>
