<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
	<script src="/slides/slides.jquery.js"></script>
	<script src="/slides/jquery.easing.1.3.js"></script>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<style type="text/css">
		img, a img {
			border: none;
		}
		a {
			text-decoration: none;
		}
		a:hover {
			text-decoration: underline;
		}
		body {
			width: 972px;
			margin: 0 auto;
			padding: 13px 0;
			font-family: 'Georgia', 'times new roman', times, serif;
		}
		body > header {
			border-bottom: 2px solid black;
			padding: 7px 7px 0;
		}
		body > nav {
			margin-bottom: 9px;
		}
		body > nav ul {
			list-style: none;
			margin-left: 0;
			padding-left: 0;
			margin-top: 0;
			font-size: 12px;
			line-height: 13px;
			text-transform: uppercase;
			text-align: center;
			border-bottom: 1px solid #d3d3d3;
			margin-bottom: 0;
		}
		body > nav li {
			display: inline-block;
			float: left;
			padding: 7px 15px 0 15px;
			margin: 0;
			height: 18px;
			border-left: 1px solid #d3d3d3;
		}
		body > nav ul.secondary {
			background-color: #F4F4F4
		}
		body > nav ul.secondary li {
			border-left: 0;
		}
		body > nav li:first-child {
			border-left: 0;
		}
		body > nav li.selected {
			background-color: #f4f4f4;
			font-weight: bold;
		}
		body > nav li.selected.withSecondary {
			border-bottom: 1px solid #f4f4f4;
			margin-bottom: -1px;
		}
		body > nav ul.secondary li.selected {
			font-weight: bold;
		}
		body > nav a,
		body > nav a:visited {
			color: #333;
			text-decoration: none;
		}
		body > nav a:hover {
			text-decoration: underline;
		}
		
		#main {
			clear: both;
		}
		#aColumn {
			float: left;
			width: 600px;
			border-right: 1px solid #cbcbcb;
			padding: 9px;
		}
		#cColumn {
			float: right;
			width: 334px;
			padding: 9px;
		}
		
		article.teaser {
			margin-bottom: 8px;
			clear: both;
		}
		article h1 {
			font-size: 17px;
			font-weight: normal;
			line-height: 20px;
			margin: 0;
			padding: 0;
		}
		
		article {
			display: block;
		}
		
		#slides_container,
		article.lede {
			width: 600px;
			height: 269px;
		}
		
		article.lede h1 {
			font-size: 20px;
			line-height: 23px;
		}
		article h1 a {
			color: #004276;
			text-decoration: none;
		}
		/*article h1 a:visited {
			color: #669;
		}*/
		article h1 a:hover {
			text-decoration: underline;
		}
		article .byline {
			color: #808080;
			font-family: arial, helvetica, sans-serif;
			font-size: 10px;
			line-height: 12px;
			margin: 2px 0;
			padding: 0;
		}
		article .byline .author {
			text-transform: uppercase;
		}
		article .byline a.author {
			color: #004276;
		}
		article .byline a.author:visited {
			color: #669;
		}
		article .byline .timestamp {
			color: #a81817;
		}
		article .summary {
			font-size: 14px;
			line-height: 17px;
			margin: 0;
			padding: 0;
			color: #333;
		}
		article.teaser .thumbnail {
			margin: 0 0 6px 6px;
			float: right;
		}
		.ledephoto {
			margin: 0 6px 6px 0;
			float: left;
		}
		article img {
			border: 1px #e2e2e2 solid;
		}
		.credit {
			text-align: right;
			color: #909090;
			font: 9px/11px arial,helvetica,sans-serif;
		}
		.caption {
			color: #666;
			font: 11px/14px arial,helvetica,sans-serif;
		}
		.actions {
			color: #004276;
			font: 11px/13px arial,helvetica,sans-serif;
		}
		.actions a {
			color: #004276;
			text-decoration: none;
		}
		.actions a:hover {
			text-decoration: underline;
		}
		.doubleRuleDivide {
			background: url("<%= image_path 'doubleRule.gif' %>") repeat-x;
			height: 4px;
			margin-top: 12px;
			margin-bottom: 8px;
			clear: both;
		}
		.columnGroup {
			
		}
		.columnGroup h1 {
			font: 11px/14px arial,helvetica,sans-serif;
			margin-bottom: 8px;
			text-transform: uppercase;
			font-weight: bold;
		}
		ul.pagination {
			margin-top: 0;
			display: none;
		}
		ul.pagination,
		.mostPopular ol {
			font-size: 13px;
			line-height: 16px;
			margin-left: 26px;
			padding-left: 0;
		}
		.pagination li {
			color: #aaa;
		}
		.pagination li.current {
			color: #666;
		}
		.pagination li,
		.mostPopular li {
			padding: 3px 0;
		}
		.pagination a,
		.mostPopular a {
			color: #004276;
		}
		.pagination a,
		.mostPopular a:visited {
			color: #669;
		}
		footer {
			clear: both;
			background: url("<%= image_path 'doubleRule.gif' %>") repeat-x;
			font-size: 11px;
			line-height: 13px;
			color: #666;
			text-align: center;
			padding: 9px;
		}
		footer a,
		footer a:hover,
		footer a:visited {
			text-decoration: underline;
			color: #666;
		}
		
		.fullArticle h1 {
			font-size: 24px;
			line-height: 26px;
		}
		
		.fullArticle {
			font-size: 15px;
			line-height: 22px;
		}
		.section > header,
		.author > header {
			background: url('<%= image_path 'doubleRule.gif' %>') repeat-x bottom;
		}
		.section > header h1 {
			margin: 0;
			font: 29px/32px Palatino,serif;
		}
		.author > header h1 {
			margin: 0;
			font: 24px/27px Palatino,serif;
		}
		#aColumn > header {
			margin-top: -9px;
			padding-bottom: 9px;
			margin-bottom: 9px;
		}
		.articleImage {
			margin-bottom: 9px;
			margin-top: 9px;
		}
		/*a:visited {
			color: #669;
		}*/
		.fullArticle aside {
			font: 10px/13px arial,helvetica,sans-serif;
			border: 1px solid #f4f4f4;
			float: right;
			padding: 9px;
			margin: 0 0 9px 9px;
		}
		.articleComments {
			background: url("<%= image_path 'doubleRule.gif' %>") repeat-x;
			margin-top: 12px;
			padding-top: 12px;
			margin-bottom: 8px;
		}
		.section_name {
			font-size: 12px;
			text-transform: uppercase;
			padding-left: 0.2em;
		}
	</style>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-20212552-2']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>
	<header>
		<%= link_to image_tag("tslbanner2.jpg"), root_path %>
	</header>
	<nav>
		<ul>
			<% @sections.each do |section| %>
				<%= li_tag link_to(section.name, section_path(section)),
					:class => [
						section_is_selected?(section),
						("withSecondary" if section.subsections.any?)] %>
			<% end %>
			<!--<%= li_tag link_to("Blogs", blogs_path), :class => ("selected" if request.fullpath == blogs_path) %>-->
			<%= li_tag link_to('Staff', page_path(:staff)),
				:class => ('selected' if request.fullpath == page_path(:staff)) %>
			<%= li_tag link_to('Subscriptions', page_path(:subscriptions)),
				:class => ('selected' if request.fullpath == page_path(:subscriptions)) %>
			<%= li_tag link_to('About', page_path(:about)),
				:class => ('selected' if request.fullpath == page_path(:about)) %>
			<div style="clear: both;"></div>
		</ul>
		<% if @section and @section.subsections.any? %>
		    <ul class="secondary">
		      <% @section.subsections.each do |subsection| %>
		        <%= li_tag link_to(subsection, subsection_path(subsection)),
		 			:class => ("selected" if @subsection and subsection == @subsection) %>
		    	<% end %>
		    	<div style="clear: both">
		    </ul>
		<% end %>
	</nav>
	<div id="main">
		<%= yield %>
	</div>
	<footer>
		&copy; 2011 <%= link_to 'The Student Life', root_path %> |
		<%= link_to 'Contact us', page_path(:contact) %>
	</footer>
</body>
</html>